@charset "UTF-8";

*{
    font-weight: normal;
    font-style: normal;  
}

.card-container {
    font-weight: normal;
    font-style: normal;
}

.banner {
margin-top: 0px;
}

.main-div {
	width : 230px;
	height : 100vh;
	padding : 10px;
	align-items : center;
	margin : 0 auto;
}

.table-form {
	border : 4px solid black;
	border-radius : 24px;
	position : relative;
 }

.search-input {
	width : all;
	height : 40px;
	font-size : 15px;
	padding-left :  38px;
	border : none;
	border-radius : 20px;
	
}

.search-history {
	border-radius : 10px;
	display : none;
}

.search-history a {
	display : inline-block;
	border-radius : 20px;
	width: 274px;
	padding : 10px 10px;
	color : black;
}

.search-history a:hover {
	background-color : orange;
} 

.search-input:focus ~ .search-history {
	display : block;
}

.search-history a:focus {
	display : block;
}

search-input:focus {
	outline : none;
}
section {
	width : 900px;
	height : auto;
	/* 좌우 가운데 정렬 */
	margin-left : auto;
	margin-right: auto;
	margin-top: 50px;
	padding : 30px;
	background : #fff;
	color : black;
}
.tableArea {
	width : 800px;
	height: auto;
	margin-left : auto;
	margin-right : auto;
}

table {
	padding : 15px;
	border-top: 1px solid #111;
	text-align : center; 
}

.btnArea {
	margin-left : 700px;
	margin-top : 40px;
		height: 10px;
}



body {
    margin: 0px;
    padding: 0px;
    background: gold;
    box-sizing: border-box;
}

#dialog {
	width:5px;
	height:5px;
}

.button {
  position: relative;
  width: 90px;
  height: 30px;
  border: 2px solid #d4e157;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d4e157;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(0, 1);
  transform-origin: 50% 0%;
  /* transform: translateX(100%); */
  transition: transform 0.35s;
}

.button-text {
  position: relative;
  z-index: 2;
  transition: color 0.35s;
  color : black;
}
.button:hover::after {
  transform: scale(1, 1);
}
.button:hover .button-text {
  color: white;
}

.card-container {
    width : 300px;
    height : 430px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    float : left;
 
}

.upper-container {
    height: 150px;
    background: lightcyan;
}

.image-container {
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px, 100px);
}

.image-container img{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.lower-container {
    height: 280px;
    background: lightgrey;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.lower-container h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower-container  h4{
    color: lightsalmon;
    opacity: .6;
    font-weight: bold;
}

.lower-container p{
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
}

.lower-container .btn{
    padding: 12px 20px;
    background: lightskyblue;
    border: none;
    color:  white;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
    transition: all .3s ease-in;
}

.lower-container .btn:hover{
    background : transparent;
    color :tomato;
    border: 2px solid white;
}

