@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Jua', sans-serif;
}

body {
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d4e157;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.btn-outline-secondary {
    color: #111;
    border-color: #111;
}

h1 {
	margin: auto;
	z-index: 50;
	color: #111;
	font-size: 30px;
	border: 2px solid #111;
	padding: 12px 24px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40%;
	left: 40%;
	margin: -50px 0 0 -50px;
	
}

.title2 {
	text-align: center;
}

.title3 {
	text-align: right;
}

section {
	width: 100%;
	height: 100%;
}

@media(max-width:767px) {
    h1 {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px) {
    h1 {
        width: 100%;
    }
}