@charset "UTF-8";

h1 {
	z-index: 50;
	color: #fff;
	font-size: 30px;
	border: 2px solid#fff;
	padding: 12px 24px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
	justify-content: center;
	align-items: center;
	bottom: 0.05%;
	left: 26.5%;
	right: 25.7%;
	margin: 0 0 0 -50px;
	
}